<a href="https://colab.research.google.com/github/Vaitiw/Python-Class/blob/main/python_1st_class(CBITSS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [ ]:
# this is my first code
print("hello world")

hello world

In [ ]:
"""
this is my first class in cbitss
we have leared about basics of python"""

'\nthis is my first class in cbitss\nwe have leared about basics of python'

In [ ]:
a=5
b=6
print("sum of two number", a+b)

sum of two number 11

In [ ]:
a=100
b=200
print("")
price_of_pizza =100
price_of_burgur=110
price_of_cokacola=300
price_of_cocktail=220
print("Total Bill price:=" , price_of_pizza+price_of_burgur+price_of_cokacola+price_of_cocktail)

Total Bill price:= 730

In [ ]:
a=100
b=200
c=2000
d=4
result=a*b*c*d
print("multiplication of 4 numbers:=" , result)

multiplication of 4 numbers:= 160000000

In [ ]:
a =int(input("enter first number: "))
b =int(input("enter second number: "))
c =int(input("enter third number: "))
result=a*b*c
print("multiplication of 3 numbers =" , result)

enter first number: 2
enter second number: 2
enter third number: 2
multiplication of 3 numbers = 8

In [ ]:
price_of_pizza =100
price_of_burgur=110
price_of_cokacola=300
price_of_cocktail=220
discount=50
Total_Bill_price = price_of_pizza+price_of_burgur+price_of_cokacola+price_of_cocktail
total_discount=Total_Bill_price*discount/100
print(Total_Bill_price-total_dicount)
payable_bill_afterdiscount=Total_Bill_price-total_discount

365.0

In [ ]:
a=5
b=10
print(f"sum of (a) and (b)  is ",
age = 25
print(f"age = (age)")

sum of (a) and (b)  is  15
age = (age)

In [ ]:
age= 22
MY_name ="Aryan Thakur"
Mother_name="Rina Thakur"
Father_name="Durgesh Thakur"
school_name= "DAVCPS,Mandi"
print("************ BioData************")
print(f"age is {age}")
print(f"Name :   {MY_name}")
print(f"Mothername is {Mother_name}")
print(f"Fathername is {Father_name}")
print(f"schoolname is {school_name}")

************ BioData************
age is 22
Name :   Aryan Thakur
Mothername is Rina Thakur
Fathername is Durgesh Thakur
schoolname is DAVCPS,Mandi

In [5]:
name="Vaibhav Tiwari"
age=21
gender="Male"
DOB="05-08-2004"
address="Zirakpur,India"
Phone="9418463000"
email="vaibhav@gmail.com"

print("     Biodata     ")
print("Name :",name)
print("Age :",age)
print("Date of Birth :",DOB)
print("Address :",address)
print("Phone No :",Phone)
print("Email :",email)

     Biodata
Name : Vaibhav Tiwari
Age : 21
Date of Birth : 05-08-2004
Address : Zirakpur,India
Phone No : 9418463000
Email : vaibhav@gmail.com

In [18]:
price_of_pizza =250
price_of_burgur=200
price_of_chikenTikka=200
discount_on_pizza=4
discount_on_burgur=5
discount_on_chikenTikka=4
total_bill=price_of_pizza+price_of_burgur+price_of_chikenTikka
total_discount_of_pizza=price_of_pizza*discount_on_pizza/100
total_discount_of_burgur=price_of_burgur*discount_on_burgur/100
total_discount_of_chikenTikka=price_of_chikenTikka*discount_on_chikenTikka/100
print("pizza bill : " ,(price_of_pizza-total_discount_of_pizza))
print("burgur bill: " ,(price_of_burgur-total_discount_of_burgur))
print("chikenTikka: " ,(discount_on_chikenTikka-total_discount_of_chikenTikka))
print("total bill to pay :", (price_of_pizza-total_discount_of_pizza+price_of_burgur-total_discount_of_burgur+discount_on_chikenTikka-total_discount_of_chikenTikka) )

pizza bill :  240.0
burgur bill:  190.0
chikenTikka:  -4.0
total bill to pay : 426.0