<a href="https://colab.research.google.com/github/Vaitiw/Python-Class/blob/main/python_1st_class(CBITSS).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [ ]:
# this is my first code
print("hello world")

hello world

In [ ]:
"""
this is my first class in cbitss
we have leared about basics of python"""

'\nthis is my first class in cbitss\nwe have leared about basics of python'

In [ ]:
a=5
b=6
print("sum of two number", a+b)

sum of two number 11

In [ ]:
a=100
b=200
print("")
price_of_pizza =100
price_of_burgur=110
price_of_cokacola=300
price_of_cocktail=220
print("Total Bill price:=" , price_of_pizza+price_of_burgur+price_of_cokacola+price_of_cocktail)

Total Bill price:= 730

In [ ]:
a=100
b=200
c=2000
d=4
result=a*b*c*d
print("multiplication of 4 numbers:=" , result)

multiplication of 4 numbers:= 160000000

In [ ]:
a =int(input("enter first number: "))
b =int(input("enter second number: "))
c =int(input("enter third number: "))
result=a*b*c
print("multiplication of 3 numbers =" , result)

enter first number: 2
enter second number: 2
enter third number: 2
multiplication of 3 numbers = 8

In [ ]:
price_of_pizza =100
price_of_burgur=110
price_of_cokacola=300
price_of_cocktail=220
discount=50
Total_Bill_price = price_of_pizza+price_of_burgur+price_of_cokacola+price_of_cocktail
total_discount=Total_Bill_price*discount/100
print(Total_Bill_price-total_dicount)
payable_bill_afterdiscount=Total_Bill_price-total_discount

365.0

In [ ]:
a=5
b=10
print(f"sum of (a) and (b)  is ",
age = 25
print(f"age = (age)")

sum of (a) and (b)  is  15
age = (age)

In [ ]:
age= 22
MY_name ="Aryan Thakur"
Mother_name="Rina Thakur"
Father_name="Durgesh Thakur"
school_name= "DAVCPS,Mandi"
print("************ BioData************")
print(f"age is {age}")
print(f"Name :   {MY_name}")
print(f"Mothername is {Mother_name}")
print(f"Fathername is {Father_name}")
print(f"schoolname is {school_name}")

************ BioData************
age is 22
Name :   Aryan Thakur
Mothername is Rina Thakur
Fathername is Durgesh Thakur
schoolname is DAVCPS,Mandi

In [ ]:
name="Vaibhav Tiwari"
age=21
gender="Male"
DOB="05-08-2004"
address="Zirakpur,India"
Phone="9418463000"
email="vaibhav@gmail.com"

print("     Biodata     ")
print("Name :",name)
print("Age :",age)
print("Date of Birth :",DOB)
print("Address :",address)
print("Phone No :",Phone)
print("Email :",email)

     Biodata
Name : Vaibhav Tiwari
Age : 21
Date of Birth : 05-08-2004
Address : Zirakpur,India
Phone No : 9418463000
Email : vaibhav@gmail.com

In [ ]:
price_of_pizza =300
price_of_burgur=200
price_of_chikenTikka=560
discount_on_pizza=4
discount_on_burgur=5
discount_on_chikenTikka=4
total_bill=price_of_pizza+price_of_burgur+price_of_chikenTikka
total_discount_of_pizza=price_of_pizza*discount_on_pizza/100
total_discount_of_burgur=price_of_burgur*discount_on_burgur/100
total_discount_of_chikenTikka=price_of_chikenTikka*discount_on_chikenTikka/100
print("pizza bill : " ,(price_of_pizza-total_discount_of_pizza))
print("burgur bill: " ,(price_of_burgur-total_discount_of_burgur))
print("chikenTikka: " ,(price_of_chikenTikka-total_discount_of_chikenTikka))
print("total bill to pay :", (price_of_pizza - total_discount_of_pizza + price_of_burgur - total_discount_of_burgur + price_of_chikenTikka - total_discount_of_chikenTikka))

pizza bill :  288.0
burgur bill:  190.0
chikenTikka:  537.6
total bill to pay : 1015.6

In [ ]:
p=int(input("enter value of principla :"))
r=int(input("enter value of rate : "))
t=int(input("enter value of time :"))

result= (p*r*t)/100
print("Simple_Interst= :" ,result)

enter value of principla :300
enter value of rate : 5
enter value of time :9
Simple_Interst= : 135.0

In [ ]:
rate=0.0113
INR_amount=float(input("Enter amount ="))

usd=rate*INR_amount

print("How much usd I got : " ,usd )

Enter amount =50000
How much usd I got :  565.0

In [ ]:
rate=0.60
rate=0.60
INR_amount=float(input("Enter amount : "))
Japanese_yen=rate*INR_amount

print("How much Yen I got : " ,Japanese_yen )
Japanese_yen=rate*INR_amount

print("How much Yen I got : " ,Japanese_yen )

Enter amount : 100000
How much Yen I got :  60000.0

In [ ]:
usd_rate=0.0113
yen_rate=0.58

usd=float(input("Enter amount : "))
yen=float(input("Enter amount : "))


inr_from_usd=usd/usd_rate
inr_from_yen=yen*yen_rate

print("How much INR in exchange of usd I got : " ,inr_from_usd )
print("How much INR in exhchange of yenI got : " ,inr_from_yen  )

Enter amount : 500
Enter amount : 2
How much INR in exchange of usd I got :  44247.787610619474
How much INR in exhchange of yenI got :  1.16

In [ ]:
usd_rate = 83
yen_rate = 0.56

usd = float(input("Enter amount in USD: "))
yen = float(input("Enter amount in JPY: "))

inr_from_usd = usd * usd_rate
inr_from_yen = yen * yen_rate  # Correct calculation

print("How much INR in exchange of USD I got:", inr_from_usd)
print("How much INR in exchange of JPY I got:", inr_from_yen)

Enter amount in USD: 1
Enter amount in JPY: 1
How much INR in exchange of USD I got: 83.0
How much INR in exchange of JPY I got: 0.56

In [ ]:

p=20000
r=20/100
n=4
t=2
A=p*(1+r/n)**(n*t)
CI=A-p

print("final Amount :",A)
print("Compound Interst : ",CI)

final Amount : 29549.10887578126
Compound Interst :  9549.108875781261

In [ ]:
p=int(input("enter value of principla :"))
r=int(input("enter value of rate : "))
t_input=input("enter value of time :")
t = eval(t_input)


result= (p*r*t)/100
print("Simple_Interst= :" ,result)

enter value of principla :2000
enter value of rate : 10
enter value of time :81/365
Simple_Interst= : 44.38356164383562

In [ ]:
str="i am a coder"
print(str.capitalize())

I am a coder

In [ ]:
str="I am studying python from Cbitss"
print(str.replace("python","java"))

I am studying java from Cbitss

In [ ]:
str="i am studying python form cbitss and I am also leaning english"
print(str.count("am"))

2

In [ ]:
#slicing
str="AmityUnivresity"
print(str[1:4])

mit

In [ ]:
#negatibe slicing
str="apna college"
print(str[-4:-1])

leg

In [ ]:
#if esle condition
light="green"
if(light == "red"):
    print("stop")

elif(light == "yellow"):
    print("wait")

elif(light == "green"):
    print("look")

print("End of code")

look
End of code

In [ ]:
age=17
if(age>=18):
    print("you can give vote")

else:
    print("you can not vote")

you can not vote

In [ ]:
month=2
days=21
year_from_month=month/12
year_from_days=days/365
T=year_from_month+year_from_days
print("Total Time : " ,T)

p=1000
rate=5
SI=(p*rate*T)/100
print("Simple Interst = " , SI)

Total Time :  0.22420091324200914
Simple Interst =  11.210045662100455

In [ ]:
age=25
if(age>=18):
  print("You are eligible to drive")

else:
  print("you are not eligible to drive")

You are eligible to drive

In [ ]:
num=21
if(num%2==0):
  print("number is even")

else:
  print("number is odd")

number is odd

In [ ]:
num=100
if(num/2):
  print("No is even")

else:
  print("no is odd")

No is even

In [ ]:
color="Red"
if(color=="green"):
  print("i will not not stay")

elif(color=="black"):
  print("i will not stay ")

elif(color=="Red"):
  print("i will buy this tshirt")

i will buy this tshirt

In [ ]:
str="I am coding in python and i am learning new things"
print(str.find("am"))

2

In [ ]:
age=int(input("Enter Your age :"))
gender=input("enter your gender :")

if(gender=="Male"):
  print("You are a male")

  if(age>=30):
    print("This man is going in bulding1 hostelA ")

  elif(age<30):
    print("This boy is going in building1 HostelB ")


if(gender=="Female"):
  print("You are a Female")

  if(age>=30):
    print("This women is going in bulding2 hostel A")

  elif(age<30):
    print("This girl is going in bulding2 Hostel B ")

Enter Your age :29
enter your gender :Female
You are a Female
This girl is going in bulding2 Hostel B

In [ ]:
 name=input("Enter Your name :")
age=int(input("Enter Your age :"))
is_married=True
salary=float(input("Enter your salary per Month :"))
if("married"):
   print(type("True"))

print(type(is_married))
print(type(name))
print(type(age))
print(type(salary))

Enter Your name :vaibhav
Enter Your age :22
Enter your salary per Month :40000
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:

p=1000
rate=5
time_in_month=3
print("Time :" ,time_in_month)

s_i1=(p*rate*time_in_month)/100
print("simple_intrest ; " ,s_i)

Time : 3
simple_intrest ;  150.0

In [ ]:
p=1000
rate=5
time_in_day=31
t=31/30
print("Time :" ,t)

s_i2=(p*rate*t)/100
print("simple_intrest ; " ,s_i2)

Time : 1.0333333333333334
simple_intrest ;  51.66666666666667

In [ ]:
amount=int(input("Enter amount :"))
rate=int(input("Enter Rate Monthly :"))
periodmon=int(input("Enter period in months :"))
periodday=int(input("Enter period in days :"))
month=(input("Enter month  :"))

if(month=="jan" or month=="mar" or month=="may" or month=="jul" or month=="aug" or month=="oct" or month=="dec"):
   periodday = periodday/31

elif(month=="feb"):
   periodday = periodday/28

else:
   periodday = periodday/30


sim=(amount*rate*periodmon)/100
sid=(amount*rate*periodday)/100
total_simple_interest = sim + sid

print("S.I :" ,total_simple_interest)
pay_amount=amount+total_simple_interest

print("pay Amount : " , pay_amount)

Enter amount :1000
Enter Rate Monthly :5
Enter period in months :8
Enter period in days :12
Enter month  :feb
S.I : 421.42857142857144
pay Amount :  1421.4285714285716

In [ ]:
year= int(input("enter year"))

if(year%4==0 and year%100!=0 or year%400==0):
   print("Leap year")


else:
  print("Not a leap year")

enter year6800
Leap year

In [ ]:
year= int(input("Enter year = "))

if(year%4==0):
  if(year%100==0):
    if(year%400==0):
      print("leap year")

    else:
      print("Not leap year")

  else:
    print("leap year")
else:

  print("Not leap year")

Enter year = 2200
Not leap year

In [ ]:
amount = int(input("Enter amount : "))
rate = int(input("Enter Rate Monthly : "))
periodmon = int(input("Enter period in months : "))
periodday = int(input("Enter period in days : "))
month = input("Enter month : ")
year = int(input("Enter year : "))


if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap year")
    leap = True
else:
    print("Not a leap year")
    leap = False


if month in ["jan", "mar", "may", "jul", "aug", "oct", "dec"]:
    days_in_month = 31
elif month == "feb":
    days_in_month = 29 if leap else 28
else:
    days_in_month = 30

periodday = periodday / days_in_month


sim = (amount * rate * periodmon) / 100
sid = (amount * rate * periodday) / 100
total_simple_interest = sim + sid

print("S.I :", total_simple_interest)
pay_amount = amount + total_simple_interest
print("Pay Amount :", pay_amount)

Enter amount : 10000
Enter Rate Monthly : 7
Enter period in months : 12
Enter period in days : 2
Enter month : jan
Enter year : 2019
Not a leap year
S.I : 8445.161290322581
Pay Amount : 18445.161290322583

In [ ]:
sum=0
for i in range (0,26):
  if i%2!=0 and i%3!=0 and i%4!=0 and i%5!=0:
    sum=sum+i


print(sum)
print(i)

91
25

In [ ]:
sum=0
for i in range(1,6):
  sum=sum+i
print(sum)

15

In [ ]:
sum1=0
sum2=0

for i in range(1,26):
  sum1 =sum1 + i

for j in range(1,26):
  if j%2==0 or j%3==0 or j%5==0:
    sum2 = sum2 + j

print("Required ans : " , sum1-sum2)

Required ans :  91

In [ ]:
#fabonacchi series
sum-=0
first=0
second=1
print(first)
print(second)
for i in range(3,11):
  third=first+second
  first=second
  second=third
  print(third)

0
1
1
2
3
5
8
13
21
34

In [ ]:
fact=1
n=int(input("Enter no for factorial :"))
for i in range(1,n+1):
  fact=fact*i

print("Factorial of n" ,fact)

Enter no for factorial :5
Factorial of n 120

In [ ]:
fact=1
sum=0
n=int(input("Enter no for factorial :"))
for i in range(1,n+1):
  fact=fact*i
  sum=sum+fact

print("Factoral of no :",fact)
print("Factoral of factorial :",sum)

Enter no for factorial :5
Factoral of no : 120
Factoral of factorial : 153

In [ ]:
fact=0
for i in range(1,6,2):
  fact=fact*i

In [ ]:
fact=1
sum=0
n= int(input("enter no for factorial : "))
for i in range(1,n+1):
  fact=fact*i
  if(i%2!=0):
    sum=fact+sum
    print("Factorial of factorial :" ,sum)

enter no for factorial : 5
Factorial of factorial : 1
Factorial of factorial : 7
Factorial of factorial : 127

In [ ]:
sum=0
#n= int(input("enter no for factorial : "))
for i in range(1,6,2):
  fact=1
  for j in range(1,i+1):
    fact = fact*j
  sum=sum+fact
  print(sum)
  print(fact)

1
1
7
6
127
120

In [3]:
#not done by me
#Sum 2!+6!=10!=14! with if
sum = 0
fact = 1
for i in range(2,15):
  fact = fact*i
  if(i%4==2):
    sum = sum+fact
  print(sum)

2
2
2
2
722
722
722
722
3629522
3629522
3629522
3629522
87181920722

In [4]:
#while loop
n=11
while(n>=3):
  print(n)
  n-=4

11
7
3

In [5]:
#SUM 1-10
sum=0
i=1
while(i<11):
  sum=sum+i
  print(sum)
  i+=1

1
3
6
10
15
21
28
36
45
55

In [6]:
#factorial with while loop
fact = 1
num = int(input("Enter a number = "))
i=num
while(i>0):
  fact = fact*i
  i-=1
print(fact)

Enter a number = 3
6

In [7]:
#print digits of a number
num=int(input("enter digit = "))
while(num>0):
  dig=int(num%10)
  print(dig)
  num=int(num/10)

enter digit = 5
5

In [8]:
#reverse of the num.
num=int(input("enter digit = "))
rev = 0
while(num>0):
  dig=int(num%10)
  rev=rev*10+dig
  num=int(num/10)
print(rev)

enter digit = 4
4